.title {
    border-left: var(--accent-color) 5px solid;
    padding-left: 10px;
}

.title h3 {
    font-size: 1.17rem;
    line-height: 1.4rem;
    margin-bottom: 4px;
}

.title p {
    opacity: 0.7;
    font-size: 0.8rem;
}

.description {
    margin: 10px 0;
    text-align: justify;
}

.projectButton {
    background-color: var(--accent-color);
    outline: none;
    border: none;
    padding: 5px 20px;
    border-radius: 50px;
    width: 200px;
    margin: 0 0 0 auto;
    display: block;
}

.projectButton:hover {
    cursor: pointer;
    opacity: 0.7;
}

@media screen and (min-width: 992px) {
    .container {
        background-color: white;
        padding: 40px;
        border-radius: 10px;
    }

    .description {
        margin: 20px 0;
    }
}
